[Unit]
Description=Automatically generates a Hotspot when a valid SSID is not in range
Documentation=http://www.raspberryconnect.com
After=network.target

[Service]
Type=oneshot
# Add a delay to allow network initialization
ExecStartPre=/bin/sleep 120
ExecStart=/usr/bin/autohotspotN
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
